<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- リセットcss -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <!-- 通常css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background: url(static/tmp/000001.jpg);">
    <header>
        <h1>AIすブレイク</h1>
    </header>

    <main>
        <!-- １段目 -->
        <div class="row-contents">
            <div class='content, card' id="videos">
                <h3>相手画面</h3>
                <div class="container-b">
                    <div class="video-container" id="video-container">
                        <video width="320" height="240" id="main-stream-video" loop preload autoplay></video>
                        <canvas width="320" height="240" id="main-stream-canvas"></canvas>
                    </div>
                </div>

                <div class="container-b">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-outline-dark" id="start-button">🚀 開始</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-outline-dark" id="predict-button">🤔 感情分析</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-outline-dark" id="clear-button">✨ 停止</button>
                        </div>
                    </div>
                </div>

                <div class="container-b" style="display: none;">
                    <div id="faces-container">
                        <canvas height="100" id="faceCanvas" width="100"></canvas>
                    </div>
                </div>

                <div class="container-b">
                    <div class="output">
                        <ul class="list-unstyled" id="console">
                            <li>①開始ボタンを押してください</li>
                            <li>②感情分析ボタンを押してください</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class='column-contents, card' style="width: 100%;">
                <h3>話題推薦</h3>
                <div class='row-contents'>
                    <div>
                        <h4>Twitterトレンド</h4>
                        <ul>
                            {% for trend in trends %}
                            <li>{{trend}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <h4>AIによる推薦</h4>
                        <li>頻出単語：{{ freq }}</li>
                        <li>関連単語1：{{ recommend1 }}</li>
                        <li>関連単語2：{{ recommend2 }}</li>
                    </div>
                </div>

                <div class='row-contents'>
                    <div>
                        <h4>盛り上がり度</h4>
                        <p>89%</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- 二段目 -->
        <div class="card" style="display: flex; flex-direction:column; justify-content:center;">
            <h3>会話内容</h3>
            <p>Aさん：test</p>
            <p>ひかる：test</p>
            <p>Aさん：test</p>
        </div>

        <!-- 三段目 -->
        <div class="card" style="display: flex; flex-direction:column; justify-content:center;">
            <h3>コントローラ</h3>
            <form action="/update" method="POST" enctype="multipart/form-data">
                <button style="display: block;">更新</button>
            </form>
            <form action="/startstream" method="POST" enctype="multipart/form-data">
                <button style="display: block;">開始</button>
            </form>
            <form action="/stopstream" method="POST" enctype="multipart/form-data">
                <button style="display: none;">終了</button>
            </form>
        </div>

        <div class="column-contents">
            <div class='content'>
            </div>
            <div class='content'>
            </div>
        </div>
        <div class="row-contents">
            <div class='content'>
            </div>
            <div class='content'>
            </div>
        </div>
    </main>

    <footer>
        <p>©Suzuki Hikaru's base All Rigths Reserved</p>
    </footer>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tensorflow.min.js"></script>
    <script src="../static/tracking/build/tracking-min.js"></script>
    <script src="../static/tracking/build/data/face-min.js"></script>
    <script src="../static/tracking/src/alignment/training/Landmarks.js"></script>
    <script src="../static/tracking/src/alignment/training/Regressor.js"></script>
    <script src="../static/js/predict.js"></script>
</body>

</html>